body{
    background:hsl(47,88%,63%); 
}
@font-face {
    font-family:"Figtree" ;
    src: url(d:\Figtree-VariableFont_wght.ttf) format(wght);
}
.container{
    width: 360px;
    height: 500px;
    background-color:rgb(255,255,255);
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 120px;
    margin-bottom: 120px;
    font-family: Figtree;
    box-shadow: 20px 20px 0 0px black;
    max-width: 1440px;
    
}

.image{
    display: flex;
    align-items: center;
    justify-content:center;
}
@font-face {
    font-family:"Figtree";
    src: url(c:\Users\HPFOLIO\Downloads\Figtree-VariableFont_wght.ttf) format(wght);
}

    


img{
    width: 320px;
    margin-top: 20px;
    border-radius: 15px;  
}
button{
    width: 85px;
    height: 30px;
    background-color:hsl(47,88%,63%);
    color: black;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 800;
    text-align: center;
    
    
}
.space{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}
p, h2, .profile{
    margin-left: 20px; 
}
h2{
    font-weight: 800;
    color:hsl(47,88%,63%)
}
.detail{
    color: hsl(0,0%,50%);
    line-height: 1.4;
    margin-bottom: 0;
}
.profile{
    width: 30px;
}
.info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.name{
  margin-top: 25px;
  margin-left: 10px;
  font-weight: 800;
}
button:hover{
    background-color: red;
}
button:focus{
    outline: 2px solid blue;
}